/*CSS for HW2 */

.logo {
    width: 400px;
    margin-right: px;
    border: 3px dashed black
}

.navigation {
    border: 3px dashed black;
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    justify-content: flex-end;
    margin-right: 40px;
    align-items: flex-start;
}

hr {
    width: 100%;
    border: 3px dashed red;
    height: 5px;
    background-color: black;

}

.header {
    text-align: center;
}

#total-divider {
    width: 600px;
}

.top-page-column {
    display: flex;
    flex-direction: column;
    border: 3px dashed blue;
    flex-grow: 1;
}

.top-page {
    border: 3px dashed black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
}

.product-page {
    background-color: yellow;
    font-weight: bolder;
}

a {
    color: black;
    text-decoration: none;
}

.roll-title {
    text-decoration: underline;
}


.product {
    padding: 10px;
}

.product-gallery-image {
    width: 285px;
    border: 3px solid black;
}

.product-detail-image {
    width: 600px;
    border: 3px solid black;
}

.shopping-cart-image {
    width: 200px;
    border: 3px solid black;
}

.product:hover {
    background-color: yellow;
}

.product:hover .roll-title {
    font-weight: bold;
    text-decoration: none;
}

/* Flexbox for Product Gallery, Row 1 */
.row1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* Flexbox for Product Gallery, Row 2 */
.row2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.order {
    display: flex;
    flex: 2;
    flex-direction: row;
    border: 3px dashed blueviolet;
}

.details {
    display: flex;
    flex-direction: column;
    border: 3px dashed;
    padding: 30px;
    justify-content: space-between;

}

.description {
    display: flex;
    border: 3px dashed;
}

.options {
    display:flex;
    flex-direction: column;
    border: 3px dashed;
}

.get-the-roll {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 40px;
    border: 3px dashed;
}

#cart-page {
    font-weight: bolder;
    background-color: yellow;
    margin: 0px;

}

.final-items {
    display: flex;
    flex-flow: column wrap;
    /* align-items: center; */
    border: 3px dashed;
    margin-left: 150px;
}

.item1 {
    display: flex;
    flex-flow: row wrap;
    border: 3px dashed red;
    gap: 120px;
}

.item2 {
    display: flex;
    flex-flow: row wrap;
    border: 3px dashed red;
    gap: 120px;
}

.remove {
    text-decoration: underline;
    margin-top: 0px;
}

.price {
    font-size: larger;
}

footer {
    text-align: right;
}

#add-to-cart {
    border: 2px solid black;
    background-color: yellow;
    padding: 10px
}

#checkout {
    border: 2px solid black;
    background-color: yellow;
    padding: 10px;
}