main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20%;
    padding: 50px;

}

body[data-theme="light"] span{
    font-weight: bold;
    color:crimson;
    transition-duration: 0.4s;
}

body[data-theme="dark"] span{
    font-weight: bold;
    color: #0fe;
    transition-duration: 0.4s;
}

body[data-theme="light"] .about-me {
    font-weight: bold;
    color: crimson;
    transition-duration: 0.4s;
}

body[data-theme="dark"] .about-me {
    font-weight: bold;
    color: #0fe;
    transition-duration: 0.4s;
}

body[data-theme="light"] .my-skills {
    font-weight: bold;
    color: crimson;
    transition-duration: 0.4s;
}

body[data-theme="dark"] .my-skills {
    font-weight: bold;
    color: #0fe;
    transition-duration: 0.4s;
}

.row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 50px;
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
    padding: 50px;
}